@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


:root {
   /*FONTS*/
   --paragraph-: 'Ysabeau SC', sans-serif;
   --hero-: 'Oswald', sans-serif;
   --nav-: 'Montserrat', sans-serif;
   --headers-: 'Squada One', cursive, sans-serif;

   /*COLOR PALLETE*/
   --dark-aqua-blue: #354649;
   --lighter-dark-blue: #6C7A89;
   --water-blue-: #A3C6C4;
   --gray-blue: #E0E7E9;
}

* {
   padding: 0px;
   margin: 0px;
   scroll-behavior: smooth;
   /* border: 0.5px solid crimson; */
}

body {
   background: linear-gradient(var(--gray-blue) 15%, var(--water-blue-) 30%, var(--lighter-dark-blue) 50%, var(--dark-aqua-blue) 80%);
}

.wrapper {
   display: flex;
   height: auto;
   width: 100%;
}

.wrapper #side-menu {
   width: 5%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 2;
}

.wrapper #side-menu i, #current {
   margin: 50% 0 50% 0;
   font-size: 1.4em;
   cursor: pointer;
   z-index: 99;
}

.wrapper #side-menu #current {
   font-family: var(--nav-);
   transform: rotate(-90deg);
   margin-right: 30%;
}

.wrapper .main {
   width: 100%;
   height: 300vh;
}

.wrapper .main #title {
   text-align: center;
   padding: 0.5%;
   display: flex;
   justify-content: center;
   position: sticky;
   font-family: var(--nav-);
   top: 0;
}

.wrapper .main #hero {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.wrapper .main #hero #intro{
   width: fit-content;
   flex-wrap: wrap;
   margin-left: 15%;
}

.wrapper .main #hero h2 {
   font-size: 3em;
   margin-bottom: 2%;
   font-weight: bold;
   letter-spacing: 0.05cm;
   font-family: var(--hero-);
}

.wrapper .main #hero p {
   font-size: 1.5em;
   margin-bottom: 10%;
   font-family: var(--paragraph-);
}

.wrapper .main #hero svg {
   position: absolute;
   bottom: 0;
   width: 100%;
   right: 0;
   z-index: 0;
}

.wrapper .main #hero svg path {
   fill-opacity: 0.7;
   animation: waveAnimation 4s cubic-bezier(0.7, 0.67, 0.3, 0.52) infinite;
 }

 .wrapper .main #hero svg .gradient {
   fill: url(#waveGradient);
 } 

 @keyframes waveAnimation {
   0% {
     d: path("M0,128L60,154.7C120,181,240,235,360,229.3C480,224,600,160,720,154.7C840,149,960,203,1080,224C1200,245,1320,235,1380,229.3L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z");
   }
   50% {
     d: path("M0,176L60,152.7C120,129,240,83,360,88C480,93,600,147,720,161.3C840,176,960,150,1080,128C1200,107,1320,91,1380,83.7L1440,77L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z");
   }
   100% {
     d: path("M0,128L60,154.7C120,181,240,235,360,229.3C480,224,600,160,720,154.7C840,149,960,203,1080,224C1200,245,1320,235,1380,229.3L1440,224L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z");
   }
 }
